@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700;900&display=swap");
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: Livvic;
  position: relative;
  background-color: #014E56;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  width: 100%;
  height: auto;
}
header .header_container .header_nav {
  padding-top: 73px;
  padding-bottom: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_container .header_nav .header_list {
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header_container .header_nav .header_list .header_item:not(:nth-child(1)) {
  margin-left: 40px;
}
header .header_container .header_nav .header_list .header_item .header_link {
  color: #fff;
}
header .header_container .header_nav .header_btn {
  padding: 9px 32px;
  margin-left: auto;
  color: #fff;
  border-radius: 24px;
  border: 2px solid #fff;
}
header .header_container .header_nav .header_burger {
  width: 20px;
  height: 20px;
  background: url(../../pic/header/burger.svg) no-repeat center;
  display: none;
}

@media screen and (max-width: 576px) {
  header .header_container .header_nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 48px;
  }
  header .header_container .header_nav .header_list {
    display: none;
  }
  header .header_container .header_nav .header_btn {
    display: none;
  }
  header .header_container .header_nav .header_burger {
    display: block;
  }
}
header {
  height: auto;
  position: relative;
}
header .header_left-img {
  position: absolute;
  top: 250px;
  left: 0;
}
header .header-bottom-img {
  position: absolute;
  bottom: 0;
  right: 165px;
}
header .header_container .header_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 256px;
}
header .header_container .header_hero .header_hero-title {
  width: 539px;
  color: #fff;
  font-size: 100px;
  line-height: 100px;
}
header .header_container .header_hero .header_hero-title span {
  color: #f67e7e;
}
header .header_container .header_hero .header_hero-about {
  width: 445px;
  height: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_container .header_hero .header_hero-about .header_hero-icon {
  width: 50px;
  height: 4px;
  background: #79c8c7;
}
header .header_container .header_hero .header_hero-about .header_hero-text {
  color: #fff;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

@media screen and (max-width: 1300px) {
  header .header_left-img {
    top: 600px;
  }
}
@media screen and (max-width: 768px) {
  header .header_container .header_hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header .header_container .header_hero .header_hero-title {
    width: 100%;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 56px;
  }
  header .header_container .header_hero .header_hero-about .header_hero-icon {
    display: none;
  }
  header .header_container .header_hero .header_hero-about .header_hero-text {
    width: 457px;
    font-size: 15px;
    line-height: 28px;
  }
  header .header_left-img {
    display: none;
  }
  header .header-bottom-img {
    right: 30%;
  }
}
@media screen and (max-width: 576px) {
  img.header-bottom-img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  header .header_container .header_hero .header_hero-title {
    width: 100%;
    font-size: 40px;
  }
  header .header_container .header_hero .header_hero-about {
    width: 100%;
  }
  header .header_container .header_hero .header_hero-about .header_hero-text {
    width: 100%;
  }
}
main {
  width: 100%;
  height: auto;
  background: #012f34;
  padding-top: 100px;
}
main .main_teams {
  position: relative;
}
main .main_teams .main__bg_img {
  position: absolute;
  bottom: 0;
  right: 0;
}
main .main_teams .main_teams-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .main_teams .main_teams-container .main_teams-top_lengs {
  width: 50px;
  height: 4px;
  background: #f67e7e;
  margin-bottom: 32px;
}
main .main_teams .main_teams-container .main_tams-title {
  width: 445px;
  color: #fff;
  font-size: 48px;
}
main .main_teams .main_teams-container .main_teams-boxs {
  margin-bottom: 140px;
}
main .main_teams .main_teams-container .main_teams-boxs .main_teams-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}
main .main_teams .main_teams-container .main_teams-boxs .main_teams-box .main_team-box__about {
  margin-left: 23px;
}
main .main_teams .main_teams-container .main_teams-boxs .main_teams-box .main_team-box__about h3 {
  margin-bottom: 16px;
  color: #f67e7e;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
main .main_teams .main_teams-container .main_teams-boxs .main_teams-box .main_team-box__about p {
  max-width: 445px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}

@media screen and (max-width: 882px) {
  main .main_teams .main__bg_img {
    position: absolute;
    top: -100px;
    right: 0;
  }
  main .main_teams .main_teams-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main_teams .main_teams-container .main_team-about h2 {
    width: 445px;
    color: #fff;
    font-family: Livvic;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 100% */
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 648px) {
  main .main_teams .main_teams-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main_teams .main_teams-container .main_team-about h2 {
    width: 234px;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 64px;
  }
  main .main_teams .main_teams-container .main_teams-boxs .main_teams-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
main .main_stories {
  background: #004047;
  padding-top: 140px;
}
main .main_stories .main_stories-container .main_stories-title {
  max-width: 932px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 56px;
}
main .main_stories .main_stories-container .main_stories-title span {
  color: #79c8c7;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}
main .main_stories .main_stories-container .main_stories-section .main_stories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .main_stories .main_stories-container .main_stories-section .main_stories-list .main_stories-item {
  margin-bottom: 48px;
  text-align: center;
  position: relative;
  max-width: 350px;
  color: #fff;
  z-index: 9;
}
main .main_stories .main_stories-container .main_stories-section .main_stories-list .main_stories-item p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
main .main_stories .main_stories-container .main_stories-section .main_stories-list .main_stories-item h4 {
  color: #79c8c7;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 2px;
}
main .main_stories .main_stories-container .main_stories-section .main_stories-list .main_stories-item h4 ~ p {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
}
main .main_stories .main_stories-container .main_stories-section .main_stories-list .main_stories-vergul {
  position: absolute;
  top: -15%;
  left: 40%;
  z-index: -7;
}

@media screen and (max-width: 748px) {
  .main_stories-section .main_stories-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 748px) {
  main .main_stories .main_stories-container .main_stories-title {
    font-size: 32px;
  }
  .main_stories-section .main_stories-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer {
  background: #f67e7e;
}
footer .footer-get-start {
  position: relative;
}
footer .footer-get-start .footer_get-started-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 76px 0;
}
footer .footer-get-start .footer_get-started-container .footer_get-started_img {
  position: absolute;
  left: 0;
  bottom: 0;
}
footer .footer-get-start .footer_get-started-container .footer_get-started_title {
  color: #012f34;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}
footer .footer-get-start .footer_get-started-container .footer_get-started_btn {
  padding: 9px 32px;
  border-radius: 24px;
  border: 2px solid #012f34;
  background-color: transparent;
}
footer .footer_contact {
  background: #002529;
}

@media (max-width: 1200) {
  footer {
    background: #f67e7e;
  }
  footer .footer-get-start {
    position: relative;
  }
  footer .footer-get-start .footer_get-started-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 76px 0;
  }
}
@media (max-width: 768px) {
  footer .footer-get-start .footer_get-started-container .footer_get-started_title {
    color: #012f34;
    font-family: Livvic;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
}
@media (max-width: 690px) {
  footer .footer-get-start .footer_get-started-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .footer-get-start .footer_get-started-container .footer_get-started_btn {
    width: 153px;
    height: 48px;
    margin: 24px auto;
    padding: 11px 33px;
  }
}/*# sourceMappingURL=style.css.map */