.header_burger {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  display: none;
  background-image: url(../../pic/header/burger.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header_burger-active {
  z-index: 999;
  position: fixed;
  top: 50px;
  right: 20px;
  background-image: url(../pic/header/close.svg);
}
.header_menu {
  padding: 112px 48px 0;
  position: fixed;
  top: 0;
  left: 30%;
  right: 0;
  bottom: 0;
  background-color: $menu;
  display: none;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 70%;
    bottom: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }

  .header_menu-item {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 600;

    .header_menu-link {
      color: #fff;
    }
  }

  .header_menu-btn {
    padding: 9px 33px;
    border-radius: 24px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }

  .header_menu_img {
    position: fixed;
    right: 0;
    bottom: 0;
  }
}
.header_menu-active {
  display: block;
}

.header_logo-active {
  margin-right: auto;
}