header {
  .header_container {
    .header_hero {
        // position: relative;
      display: flex;
      align-items: center;

      .header_hero-title {
        font-size: 100px;
        color: #fff;
        width: 539px;
      }

      .header_hero-description {
        // position: relative;
        width: 445px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;

        &::before {
            content: "";
            position: absolute;
            top: -79px;
            width: 50px;
            height: 4px;
            background-color: #fff;
        }
      }
    }
  }
}
