main {
  .main_stories {
    position: relative;
    background: #004047;
    padding-top: 140px;

    .stories-bg-left {
      position: absolute;
      top: 0;
      left: 0;
    }

    .stories-bg-right {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .main_stories-container {
      .main_stories-title {
        max-width: 932px;
        color: #fff;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 56px;

        span {
          color: #79c8c7;
          font-size: 48px;
          font-weight: 700;
          line-height: 48px;
        }
      }

      .main_stories-section {
        .main_stories-list {
          display: flex;

          .main_stories-item {
            margin-bottom: 48px;
            text-align: center;
            position: relative;
            max-width: 350px;
            color: #fff;
            z-index: 9;

            p {
              margin-bottom: 20px;
              line-height: 25px;
              color: #fff;
              text-align: center;
              font-size: 15px;
              font-weight: 600;
            }

            h4 {
              color: #79c8c7;
              text-align: center;
              font-size: 18px;
              line-height: 28px;
              margin-bottom: 2px;

              & ~ p {
                color: #fff;
                text-align: center;
                font-size: 13px;
                font-style: italic;
                font-weight: 500;
                line-height: 18px;
              }
            }
          }

          .main_stories-vergul {
            position: absolute;
            top: -15%;
            left: 40%;
            z-index: -7;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 748px) {
  .main_stories-section {
    .main_stories-list {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 748px) {
  main {
    .main_stories {
      .main_stories-container {
        .main_stories-title {
          font-size: 32px;
        }
      }
    }
  }
  .main_stories-section {
    .main_stories-list {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
